/* Apply a natural box layout model to all elements, but allowing components to change */
/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Set sweet system fonts. */
/* https://medium.com/@mwichary/system-shock-6b1dc6d6596f#.1853vypp7 */
body {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

/* Make body 100% height. */
html, body, #render-target {
  height: 100%;
}
#render-target {
  display: flex;
  flex-direction: column;
}

/* Remove styling from input elements. */
input {
  background-color: transparent;
  outline: none;
  border: 0 none;
  padding: 0;
}
input::selection {
  color: black ;
  background: white;
}
div:focus {
  outline: none;
}
